.nav{

    display:flex;
    justify-content: space-between;
}
.nav h1{

    color: blueviolet;
    margin: 0;
    font-size: 40px;

}
.nav li{

display: inline-flex;
list-style-type:none;
margin:0;
padding:0;
padding-left: 15px;
padding-top: 15px;
color: blue;
}

.nav input{
    flex:1px;
    margin-top: 5%;
    color: blueviolet;
    height: 35px;
    border-color: blue;
    border-right: 0px;
}
.nav button{

    height: 41px;
    
    border-color:blue ;
}
