table{

color: blue;
border-collapse: collapse;
}
table th
{
    color:brown;
}
table th,td{


    border:1px solid blueviolet;
    padding: 10px;
    height: 160px;
    width:160px;

}
icon{


    padding:10px;
    margin:10px
}