<h1> Add Product Form</h1>



<form #form="ngForm"  (ngSubmit)="fun(form.value)">
<input type="text" placeholder="name" name="productname" ngModel><br><br>

<input type="text"   placeholder="price" name="productprice" ngModel><br><br>
<input type="number" placeholder="id" name="prouductid" ngModel><br><br>
<input type="text"   placeholder="imageurl" name="imageurl" ngModel><br><br>
<textarea placeholder="description" name="productdescription" ngModel></textarea><br><br>
<button>submit</button>




</form>



