.seller
{
background-color: aqua;
width: 40%;
padding-top: 3%;
align-self: center;
}
.f1
{
    text-align: center;
}
h1{

text-align: left;
margin-left: 5%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: purple;
margin-top: 5%;

}
a{
    margin-top:1%;
    padding-top:1%;
    
    border-color: aqua;
}
.b{
    margin-top:1%;
    border-color: aqua;
}
.c{

    margin-top: 1%;
    border-color: aqua;

}
.d{
border-color: blue;
    margin-top: 1%;
}
.invalid{

    color: red;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.link1{


    margin-left: 30%;
}