.search-item{

    margin: 25px auto;
    width:800px;
    border-top: 1px solid #ddd;
    padding: 10px;



}
.search-image{


    width: 100%;
    object-fit: contain;
    height: 150px;

}
.details{


    margin-left: 10px;
    margin-top: 15px;
}
.productname{


    color:blueviolet;
    font-size: 25px;
    margin-left: 35%;

}
.color{
margin-bottom: 10px;

margin-left: 35%;


}


.price{

margin-left: 35%;

}
.a{
    margin-left: 35%;


}