.search-item{

    margin: 25px auto;
    width:800px;
    border-top: 1px solid #ddd;
    padding: 10px;



}
.search-image{


    width: 150%;
    object-fit: contain;
    height: 250px;

}
.details{


    margin-left: 10px;
    margin-top: 15px;
}
.productname{


    color:blueviolet;
    font-size: 25px;
    margin-left: 35%;

}
.color{
margin-bottom: 10px;

margin-left: 35%;


}


.price{

margin-left: 35%;

}
.a{
    margin-left: 35%;


}
.cart{



    margin-top: 120px;
    margin-left: 30px;
}
.buy{

margin-left: 10px;

}
.quantity
{
margin-top: 10px;
margin-left: 10px;

}